<ul>
	<li><%= link_to_unless_current "Teràpia manual", terapia_manual_path %></li>
	<li><%= link_to_unless_current "Drenatge Limfàtic", drenatge_limfatic_path %></li>
	<li><%= link_to_unless_current "Reeducació postural corporal", reeducacio_path %></li>
	<li><%= link_to_unless_current "Articulació Temporo Mandíbular (ATM)", articulacio_path %></li>
	<li><%= link_to_unless_current "Punció seca", puncio_path %></li>
	<li><%= link_to_unless_current "Tècniques miofascials", miofascials_path %></li>
	<li><%= link_to_unless_current "Estiraments", estiraments_path %></li>
	<li><%= link_to_unless_current "Tècniques de preparació al part", preparacio_part_path %></li>
	<li><%= link_to_unless_current "Tècniques post part", post_part_path %></li>
	<li><%= link_to_unless_current "Massatge Terapèutic Professional", massatge_path %></li>
</ul>