				<div class='links row'>
					<div class='col-xs-3 col-sm-3 col-md-1 col-lg-1'>
						<p>CONTACTE</p>
					</div>
					<div class='col-xs-offset-6 col-xs-3 col-sm-offset-7 col-sm-2 col-md-offset-9 col-md-2 col-lg-offset-10 col-lg-1'>

						<div class="xarxes">
						<%= link_to "#" do %>
							<i class="fa fa-facebook-official fa-2x"></i>
						<% end %>
						<%= link_to "#" do %>
							<i class="fa fa-instagram fa-2x"></i>
						<% end %>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<hr class="borde1"/>
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
						<hr class="borde2"/>
					</div>
				</div>

				<div class="row visible-xs">
					<div class="col-xs-12">
						<div class="menu">
							<h3><b>Centre SiB</b></h3>
							<p><b>Adreça</b></p>
							<p>C/ Cristòfol Grober 6, 1er 2a </p>
							<p>17001 Girona</p>
							<p>--</p>
							<p><b>Horari</b></a>
							<p>De Dilluns a Divendres de 9 a 20.30</p>
							<p>--</p>
							<p><b>Telefons</b></p>
							<p>872 037 097 - 626 530 484</p>
							<p>--</p>
							<p><b>E-mail</b></p>
							<p>info@sibfisioterapia.com</p>
							<p>--</p>
							<p><b>Facebook</b></p>
							<%= link_to image_tag("face.png", alt: "link faceboook"), "#" %>
							<%= link_to image_tag("inst.png", alt: "link instagram"), "#" %>
							
						</div>
					</div>
				</div>
				<div class="row visible-xs">
					<div class="col-xs-12">
						
						<%= image_tag "mapa-contacte.png", alt: "mapa contacte", class: "foto-tractaments" %> 
						<div class="text-contacte">
								<p>Truca’ns i demana hora per gaudir dels nostres tractaments i per assistir als nostres cursos.</p>
								<p><b>T’informarem sense compromís!</b></p>
						</div>
						<div class="contact-form">
							<%= form_tag "/sendmessage" do %>
							  <div class="form-group">
							    <label for="exampleInputEmail1">Name</label>
							    <%= text_field_tag :name, params[:name], :class => "form-control", :placeholder => "Name" %>
							  </div>
							  <div class="form-group">
							    <label for="exampleInputPassword1">Email</label>
							    <%= text_field_tag :email, params[:email], :class => "form-control", :placeholder => "Email" %>
							  </div>
							  <div class="form-group">
							    <label for="exampleInputMessage">Missatge</label>
								<%= text_area_tag :message, params[:message], :class => "form-control", :placeholder => "Missatge" %>
							  </div>
							  <% if flash[:notice] %>
							  	<p class="alert alert-success"><%= flash[:notice] %></p>
							  <% end %>
							  <% if @error %>
							  	<p class="alert alert-danger"><%= @error %></p>
							  <% end %>

								<%= submit_tag "Enviar" %>

							<% end %>
						</div>
					</div>
				</div>
				<div class="row hidden-xs">
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<div class="menu">
							<h3><b>Centre SiB</b></h3>
							<p><b>Adreça</b></p>
							<p>C/ Cristòfol Grober 6, 1er 2a </p>
							<p>17001 Girona</p>
							<p>--</p>
							<p><b>Horari</b></a>
							<p>De Dilluns a Divendres de 9 a 20.30</p>
							<p>--</p>
							<p><b>Telefons</b></p>
							<p>872 037 097 - 626 530 484</p>
							<p>--</p>
							<p><b>E-mail</b></p>
							<p>info@sibfisioterapia.com</p>
							<p>--</p>
							<p><b>Facebook</b></p>
							<%= link_to image_tag("face.png", alt: "link faceboook"), "#" %>
							<%= link_to image_tag("inst.png", alt: "link instagram"), "#" %>
							
						</div>
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
						<%= image_tag "mapa-contacte.png", alt: "mapa contacte", class: "foto-tractaments" %> 
						<div class="text-contacte">
								<p>Truca’ns i demana hora per gaudir dels nostres tractaments i per assistir als nostres cursos.</p>
								<p><b>T’informarem sense compromís!</b></p>
						</div>
						<div class="contact-form">
							<%= form_tag "/sendmessage" do %>
							  <div class="form-group">
							    <label for="exampleInputEmail1">Name</label>
							    <%= text_field_tag :name, params[:name], :class => "form-control", :placeholder => "Name" %>
							  </div>
							  <div class="form-group">
							    <label for="exampleInputPassword1">Email</label>
							    <%= text_field_tag :email, params[:email], :class => "form-control", :placeholder => "Email" %>
							  </div>
							  <div class="form-group">
							    <label for="exampleInputMessage">Missatge</label>
								<%= text_area_tag :message, params[:message], :class => "form-control", :placeholder => "Missatge" %>
							  </div>
							  <% if flash[:notice] %>
							  	<p class="alert alert-success"><%= flash[:notice] %></p>
							  <% end %>
							  <% if @error %>
							  	<p class="alert alert-danger"><%= @error %></p>
							  <% end %>

								<%= submit_tag "Enviar" %>

							<% end %>
						</div>
					</div>
				</div>