				<div class='links row'>
					<div class='col-xs-offset-9 col-xs-3 col-sm-offset-10 col-sm-2 col-md-offset-10 col-md-2 col-lg-offset-11 col-lg-1'>

						<div class="xarxes">
						<%= link_to "#" do %>
							<i class="fa fa-facebook-official fa-2x"></i>
						<% end %>
						<%= link_to "#" do %>
							<i class="fa fa-instagram fa-2x"></i>
						<% end %>
						</div>
					</div>
				</div>
				
				<div class='body row'>
					<div class='col-xs-12 col-sm-12 col-md-6 col-lg-6'>
						<h2>SiB FISIOTERÀPIA</h2>
						<div class='text'>
							<%= link_to image_tag("home-fisioterapia.jpg"), qui_som_path %>
						</div>
					</div>
					<div class='col-xs-12 col-sm-12 col-md-6 col-lg-6'>
						<h2>TRACTAMENTS</h2>
						<%= link_to image_tag("inici-tractaments.png"), tractaments_path %>
					</div>
				</div>

				<div class='body row'>
					<div class='col-xs-12 col-sm-12 col-md-6 col-lg-6'>
						<h2>ABDOMINALS HIPOPRESSIUS</h2>
						<%= link_to image_tag("hipopressius.jpg"), gimnastica_hipopressiva_path %>
					</div>
					<div class='col-xs-12 col-sm-12 col-md-6 col-lg-6'>
						<h2>READAPTACIÓ ESPORTIVA</h2>
						<%= link_to image_tag("inici-readaptacio.jpg"), readaptacio_esportiva_path %>
					</div>
				</div>