				<div class='links row'>
					<div class='col-xs-3 col-sm-3 col-md-2 col-lg-1'>
						<p>QUI SOM</p>
					</div>
					<div class='col-xs-offset-6 col-xs-3 col-sm-offset-7 col-sm-2 col-md-offset-8 col-md-2 col-lg-offset-10 col-lg-1'>
						<div class="xarxes">
						<%= link_to "#" do %>
							<i class="fa fa-facebook-official fa-2x"></i>
						<% end %>
						<%= link_to "#" do %>
							<i class="fa fa-instagram fa-2x"></i>
						<% end %>
						</div>

					</div>
				</div>
				<div class="row">
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<hr class="borde1"/>
					</div>
					<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
						<hr class="borde2"/>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-offset-3 col-md-8">
						<p class="text-qui_som">Sóm un grup de professionals en constant actualització en les noves tècniques i tractaments, per tal de donar un tractament integral als nostres pacients.</p>
						<p class="text-qui_som">Tractant els pacients d’una manera global</p>
					</div>
				</div>
				<div class="body row">
						<div class="col-sm-3 col-md-3 col-lg-3 hidden-xs">
						<div class="imatge">
							<%= image_tag "judit.png", alt: "foto" %></a>
						</div>
					</div>
					<div class="col-xs-12 visible-xs">
					<div class="imatge">
							<%= image_tag "judit.png", alt: "foto" %></a>
						</div>
					</div>
					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
						<h3>JUDIT VILCHES DURAN</h3>
						<h4>Directora - Fisioterapeuta - Col•legiada nº 9866</h4>
						<div class="textqs">
							<p><b>Llicenciada i graduada en Fisioteràpia per l’Escola Universitària de la Salut i l'Esport (EUSES) i Tècnic Superior d’activitats fisicoesportives i d’animació.</b></p>
							<p>Durant més de 5 anys ha col•laborat com a fisioterapeuta en centres especialitzats en fisio esport i tractament visceral.</p>
							<p>En el seu afany per tractar millor les necessitats dels seus pacients, ha <b>realitzat</b> diversos <b>cursos de tractaments en  punció seca, ATM, neurodinàmica i tècniques per l’abordatge de lesions miotensives.</b></p>
							<p>És <b>especialista en "Gimnàstica Abdominal Hipopressiva" per Marcel Caufried.</b> Imparteix classes d’aquesta tècnica indicat en pacients amb debilitat del sòl pelvic i de la faixa abdominal com per exemple a l’Ajuntament d’Anglès on des de fa més de tres anys que hi col•labora impartint classes.</p>
							<p>Actualment està finalitzant el curs de psiconeuroimmunologia (PNI).</p>
						</div>
					</div>
				</div>
				<div class="body row">
					<div class="col-sm-3 col-md-3 col-lg-3 hidden-xs">
						<div class="imatge">
							<%= image_tag "foto.png", alt: "foto" %></a>
						</div>
					</div>
					<div class="col-xs-12 visible-xs">
					<div class="imatge">
							<%= image_tag "foto.png", alt: "foto" %></a>
						</div>
					</div>
					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
						<h3>XEVI SALVADOR</h3>
						<h4>Col•legiat nº 54.079</h4>
						<div class="textqs">
							<p><b>Graduat en Ciències de l’Activitat Física i l’Esport.</b> Actualment està finalitzant el Màster en Alt Rendiment d’esports col•lectius.</p>
							<p>Especialista en processos d’entrenament i readaptació dels pacients en l’esport. Ha treballat com a preparador físic en el departament de Ciències de l’Esport de l’Acadèmia Sánchez-Casal i també ha coordinat i dirigit diferents campus i activitats esportives com ara la secció Escola Esportiva del GEIEG (Girona).<b> Fundador de “Xevisaja” centre d’entrenament i readaptació esportiva amb seu a La Bisbal d’Empordà.</b></p>
							<p>Des de l’any 2009 és entrenador de diferents equips formatius al Club Handbol Bordils i des de la temporada 2013-2014 n’és el responsable de la preparació física del club. Actualment imparteix l’assignatura de Teoria de l'Entrenament 2 a l'Escola Universitària de la Salut i l'Esport (EUSES), centre adscrit a la Universitat de Girona.</p>
						</div>
					</div>
				</div>
				<div class="body row">
					<div class="col-sm-3 col-md-3 col-lg-3 hidden-xs">
						<div class="imatge">
							<%= image_tag "foto.png", alt: "foto" %></a>
						</div>
					</div>
					<div class="col-xs-12 visible-xs">
					<div class="imatge">
							<%= image_tag "foto.png", alt: "foto" %></a>
						</div>
					</div>
					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
						<h3>SARA RESTA</h3>
						<h4>Fisioterapeuta</h4>
						<div class="textqs">
							<p><b>Diplomada en fisioteràpia per la Fundació Universitària del Bages (FUB)</b> on també ha realitzat un <b>curs en fisioteràpia obstètrica</b>. També ha realitzat cursos en tècniques d’especialització en l’abordatge en patologies neuromusculars i un curs den Kinessiembenat, que es tracta d’embenats especials on la s’utilitzen benes de colors. Actualment està <b>estudiant osteopatia a l’Escola d'Osteopatia de Barcelona</b> (EOB).</p>
							<p>Els últims anys ha <b>realitzat la seva tasca professional a França</b> on ha treballat en diferents centre privats dut a terme <b>tractaments fisioterapeutes generals, en geriatria com també en l’àmbit de la reeducació esportiva</b>.</p>
						</div>
					</div>
				</div>